body {
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

label {
    margin-top: 10px;
}

input, select, textarea {
    padding: 5px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
