<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Assistant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Farm Assistant</h1>
    <div class="heading-container">
        <h2>Livestock List</h2>
    </div>
    <div id="filter-bar">
        <button class="filter-btn active" data-filter="All"><i class="fa-solid fa-house-chimney"></i> All</button>
        <button class="filter-btn" data-filter="Cattle"><i class="fa-solid fa-cow"></i> Cattle</button>
        <button class="filter-btn" data-filter="Dog"><i class="fa-solid fa-dog"></i> Dog</button>
        <button class="filter-btn" data-filter="Cat"><i class="fa-solid fa-cat"></i> Cats</button>
        <button class="filter-btn" data-filter="Fowl"><i class="fa-solid fa-crow"></i> Fowl</button>
    </div>
    <table id="livestock-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
         <tbody>
        </tbody>
        <tfoot>
            <tr class="empty-row">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="add-btn"><i class="fa-solid fa-plus-circle" aria-label="Add"></i></button></td>
            </tr>
        </tfoot>
    </table>



    <script src="static/script.js?v=0.9.45"></script>
    <div id="image-modal" class="modal">
        <span class="close-modal">&times;</span>
        <img class="modal-content" id="modal-image">
    </div>
    <div id="animal-details-modal" class="modal">
        <div class="modal-content" style="background-color: white; padding: 20px; border-radius: 5px;">
            <span class="close-modal">&times;</span>
            <h2>Animal Details</h2>
            <div id="animal-details-content" class="details-grid"></div>
        </div>
    </div>
</body>
</html>